.user-reviews-buttons {
    display: flex;
    justify-content: space-between;
    width: 13rem;
}

.review-section {
    margin-top: 2rem;
    width: 1000px;
}

.each-review {
    margin-bottom: 5rem;
}

/* .user-reviews-container {
    margin-left: 5rem;
} */

.user-reviews-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
