.create-spot-textarea {
    resize: none;
}

.dollar-sign-container {
    display: flex;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-section {
    width: 1000px;
    border: 1px solid purple;
}

.form-section-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid black;
}

.create-submit-button {
    height: 40px;
    width: 20rem;
    box-shadow: 2px 2px 1px black;
    background-color: rgb(243, 113, 113);
    color: white;
}
